<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>MOZAR</title>
    <link rel="stylesheet" href="__ROOT__/public/css/jquery.bigautocomplete.css" type="text/css" />
    <script src="__ROOT__/public/js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__ROOT__/public/js/jquery.bigautocomplete.js"></script>
    <style type="text/css">
        *{
            margin: 0px;
            padding: 0px;
        }
        #navcontent li{
            display: inline-block;
        }
        #pic{
            width:160px;
            height:175px;
            margin:11px;
            float: left;
            cursor: pointer;
        }
        #pic2{
            width:160px;
            height:175px;
            margin:11px;
            float: left;
            cursor: pointer;
        }
        #pic3{
            width:160px;
            height:175px;
            margin:11px;
            float: left;
            cursor: pointer;
        }
        #pic4{
            width:160px;
            height:175px;
            margin:11px;
            float: left;
            cursor: pointer;
        }
        #pic5{
            width:160px;
            height:175px;
            margin:11px;
            float: left;
            cursor: pointer;
        }
        #pic6{
            width:160px;
            height:175px;
            margin:11px;
            float: left;
            cursor: pointer;
        }
    </style>
    <script>
        $(function(){
            var i=0;

            $('#fabu').hover(function(){
                $('#fabu').css('background-color','lightgrey')
            },function(){
                $('#fabu').css('background-color','rgba(240,240,240,0.9)')
            })
            $('#navcontent li').hover(function(){
                $(this).css('color','darkred')
            },function(){
                $(this).css('color','rgb(41,36,33)')
            })

            $('.women').mouseenter(function(){
                $('#fenlei').slideDown();
                $('.fl').slideDown();
                i=0;
                $(".fenleilb").eq(i).fadeIn(1000).siblings().fadeOut();
            })

            $('.men').mouseenter(function(){
                $('#fenlei').slideDown();
                $('.fl').slideDown();
                i=1;
                $(".fenleilb").eq(i).fadeIn(1000).siblings().fadeOut();
            })
            $('.xie').mouseenter(function(){
                i=2;
                $(".fenleilb").eq(i).fadeIn(1000).siblings().fadeOut();
                $('#fenlei').slideDown();
                $('.fl').slideDown();
            })
            $('.bag').mouseenter(function(){
                i=3;
                $(".fenleilb").eq(i).fadeIn(1000).siblings().fadeOut();
                $('#fenlei').slideDown();
                $('.fl').slideDown();
            })

            $('#fenlei').mouseenter(function(){
                $('#fenlei').slideDown();
                $('.fl').slideDown();
            })

            $('#fenlei').mouseleave(function(){
                $('#fenlei').slideUp();
                $('.fl').slideUp();
            })

            $('.2jifenlei').hover(function(){
                $(this).css('color','darkred')
            },function(){
                $(this).css('color','grey')
            })

            $("#pic").click(function () {
                $("#upload").click();  //隐藏了input:file样式后，点击头像就可以本地上传
                $("#upload").on("change",function(){
                    var objUrl = getObjectURL(this.files[0]) ; //获取图片的路径，该路径不是图片在本地的路径
                    if (objUrl) {
                        $("#pic").attr("src", objUrl) ; //将图片路径存入src中，显示出图片
                    }
                });
            });
            $("#pic2").click(function () {
                $("#upload2").click();  //隐藏了input:file样式后，点击头像就可以本地上传
                $("#upload2").on("change",function(){
                    var objUrl = getObjectURL(this.files[0]) ; //获取图片的路径，该路径不是图片在本地的路径
                    if (objUrl) {
                        $("#pic2").attr("src", objUrl) ; //将图片路径存入src中，显示出图片
                    }
                });
            });
            $("#pic3").click(function () {
                $("#upload3").click();  //隐藏了input:file样式后，点击头像就可以本地上传
                $("#upload3").on("change",function(){
                    var objUrl = getObjectURL(this.files[0]) ; //获取图片的路径，该路径不是图片在本地的路径
                    if (objUrl) {
                        $("#pic3").attr("src", objUrl) ; //将图片路径存入src中，显示出图片
                    }
                });
            });

            $("#pic4").click(function () {
                $("#upload4").click();  //隐藏了input:file样式后，点击头像就可以本地上传
                $("#upload4").on("change",function(){
                    var objUrl = getObjectURL(this.files[0]) ; //获取图片的路径，该路径不是图片在本地的路径
                    if (objUrl) {
                        $("#pic4").attr("src", objUrl) ; //将图片路径存入src中，显示出图片
                    }
                });
            });
            $("#pic5").click(function () {
                $("#upload5").click();  //隐藏了input:file样式后，点击头像就可以本地上传
                $("#upload5").on("change",function(){
                    var objUrl = getObjectURL(this.files[0]) ; //获取图片的路径，该路径不是图片在本地的路径
                    if (objUrl) {
                        $("#pic5").attr("src", objUrl) ; //将图片路径存入src中，显示出图片
                    }
                });
            });
            $("#pic6").click(function () {
                $("#upload6").click();  //隐藏了input:file样式后，点击头像就可以本地上传
                $("#upload6").on("change",function(){
                    var objUrl = getObjectURL(this.files[0]) ; //获取图片的路径，该路径不是图片在本地的路径
                    if (objUrl) {
                        $("#pic6").attr("src", objUrl) ; //将图片路径存入src中，显示出图片
                    }
                });
            });

            $("#tt").bigAutocomplete({
                width:497,
                data:[
                    {title:"巧克力男装外套"},
                    {title:"耐克男装外套"},
                    {title:"阿迪达斯女装外套"},
                    {title:"万斯潮鞋"},
                    {title:"阿迪达斯男装裤子"},
                    {title:"普拉达女装裤子"},
                    {title:"彪马男装外套"},
                    {title:"阿迪达斯女装外套"},
                    {title:"范思哲女装裤子"},
                    {title:"巴宝莉女装鞋子"},
                    {title:"耐克女装外套"},
                    {title:"阿迪达斯女装裤子"},
                    {title:"路易威登箱包手提包"},
                    {title:"香奈儿箱包手提包"},
                    {title:"彪马潮鞋"},
                    {title:"阿迪达斯潮鞋"},
                    {title:"匡威潮鞋"},
                ],
                /*               callback:function(data){
                 alert(data.title);
                 }*/
            });

            $('.kuang').click(function(){
                $('.kuang').hide();
                $(this).show();
            })

            /*公用弹窗*/
            $('.关闭').click(function(){
                $('.success').slideUp();
                window.location="__APP__/Fabu/index";
            })
            /*end*/
        })
    </script>
    <script>

        //建立一個可存取到該file的url
        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL!=undefined) { // basic
                url = window.createObjectURL(file) ;
            } else if (window.URL!=undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file) ;
            } else if (window.webkitURL!=undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file) ;
            }
            return url ;
        }
    </script>
</head>
<body>

<div id="top" style="width: 1200px;height: 150px;margin: 0 auto">
    <a href="__APP__/Index/index"><img src="__ROOT__/public/images/logo.PNG" style="margin-top: 25px;float: left"></a>
    <form method="post" action="__APP__/Search/index" name="searchform" id="searchform" class="searchinfo">
        <input id="tt" class="text" type="text" style="float: left;width: 500px;height: 55px;margin-left: 80px;margin-top: 45px;border: 1px solid lightgray;border-right: none;background-color: rgba(240,240,240,0.9);font-size: 20px;color: lightgrey;" name="search" placeholder="search...">
        <input class="button" type="submit" style='width: 55px;height: 55px;border: 1px solid lightgray;border-left:none ;background-color: rgba(240,240,240,0.9);margin-top: 45px;cursor: pointer;font-family: "arial", "微软雅黑";float: left;
             color: rgb(41,36,33);font-size: 30px' value="o">
    </form>
    <a href="" id="fabu" style='width: 100px;height: 55px;background-color: rgba(240,240,240,0.9);float: right;margin-top: 45px;color:  rgb(41,36,33);font-family: "arial", "微软雅黑";line-height: 55px;text-align: center;text-decoration: none;margin-right: 10px'>发布物品</a>
</div>

<div style="width: 100%;height: 60px;background-color: rgba(240,240,240,0.9);border-bottom: 1px solid lightgrey;border-top:2px solid rgba(210,210,210,0.7)">
    <div style="width: 1200px;height: 40px;margin: 0 auto">
        <ul id="navcontent">
            <a href="" style="text-decoration: none"><li class="women" style='width: 90px;height: 40px;background-color: rgba(240,240,240,0.9);line-height: 40px;text-align: center;font-size: 15px;font-family: "arial", "微软雅黑";border-right: 1px solid rgba(210,210,210,0.7);margin-top: 10px;color:rgb(41,36,33);font-weight: bold '>女装</li></a>
            <a href="" style="text-decoration: none"><li class="men" style='width: 90px;height: 40px;background-color: rgba(240,240,240,0.9);line-height: 40px;text-align: center;font-size: 15px;font-family: "arial", "微软雅黑";border-right: 1px solid rgba(210,210,210,0.7);margin-top: 10px;color:rgb(41,36,33);font-weight: bold '>男装</li></a>
            <a href="" style="text-decoration: none"><li class="xie" style='width: 90px;height: 40px;background-color: rgba(240,240,240,0.9);line-height: 40px;text-align: center;font-size: 15px;font-family: "arial", "微软雅黑";border-right: 1px solid rgba(210,210,210,0.7);margin-top: 10px;color:rgb(41,36,33);font-weight: bold '>潮鞋</li></a>
            <a href="" style="text-decoration: none"><li class="bag" style='width: 90px;height: 40px;background-color: rgba(240,240,240,0.9);line-height: 40px;text-align: center;font-size: 15px;font-family: "arial", "微软雅黑";border-right: 1px solid rgba(210,210,210,0.7);margin-top: 10px;color:rgb(41,36,33);font-weight: bold '>箱包</li></a>

            <if condition="$_SESSION['user']">
                <a href="__APP__/Login/index" style="text-decoration: none"><li style='width: 90px;height: 40px;background-color: rgba(240,240,240,0.9);line-height: 40px;text-align: center;font-size: 15px;font-family: "arial", "微软雅黑";border-left: 1px solid rgba(210,210,210,0.7);margin-top: 10px;color:rgb(41,36,33);font-weight: bold;float: right '>退出</li></a>
                <a href="__APP__/Person/index/id/{$_SESSION['user']['id']}" style="text-decoration: none"><li style='width: 90px;height: 40px;background-color: rgba(240,240,240,0.9);line-height: 40px;text-align: center;font-size: 15px;font-family: "arial", "微软雅黑";border-left: 1px solid rgba(210,210,210,0.7);margin-top: 10px;color:rgb(41,36,33);font-weight: bold ;float: right'><php>echo $_SESSION['user']['truename']</php></li></a>
                <else/>
                <a href="__APP__/Register/index" style="text-decoration: none"><li style='width: 90px;height: 40px;background-color: rgba(240,240,240,0.9);line-height: 40px;text-align: center;font-size: 15px;font-family: "arial", "微软雅黑";border-left: 1px solid rgba(210,210,210,0.7);margin-top: 10px;color:rgb(41,36,33);font-weight: bold;float: right '>注册</li></a>
                <a href="__APP__/Login/index" style="text-decoration: none"><li style='width: 90px;height: 40px;background-color: rgba(240,240,240,0.9);line-height: 40px;text-align: center;font-size: 15px;font-family: "arial", "微软雅黑";border-left: 1px solid rgba(210,210,210,0.7);margin-top: 10px;color:rgb(41,36,33);font-weight: bold ;float: right'>登录</li></a>
            </if>
        </ul>
    </div>
</div>

<!--导航栏分类-->
<div style="width: 100%;height: auto;position: absolute;z-index: 2">
    <div id="fenlei" style="width: 1200px;height: 200px;margin: 0 auto;display: none;">
        <div class="fl" style="width: 600px;height: 200px;overflow: hidden;position: absolute;display: none;">
            <div  style="width: 2400px;height: 200px;position: absolute;">
                <!-- 第一个盒子 -->
                <div class="fenleilb"style="width: 600px;height: 200px;background-color:rgb(250,250,250);float: left">
                    <foreach name="brand" item='v'>
                        <if condition="$v['lev'] eq 1 and $v['pid'] eq 1">
                            <div style="width: 100px;height: 150px;margin-top: 40px;margin-left: 30px;float: left">
                                <k style='font-family: "arial", "微软雅黑";'>{$v.chiname}</k>

                                <ul style="margin-top: 20px;list-style: none;">
                                    <foreach name="brand" item="k">
                                        <if condition="$k['lev'] eq 2 and $k['pid'] eq $v['id']">
                                            <a  href="" style="text-decoration: none"><li class="2jifenlei"style='color:grey;margin-bottom: 5px;font-family: "arial", "微软雅黑"'>{$k.chiname}</li></a>
                                        </if>
                                    </foreach>
                                </ul>
                            </div>
                        </if>
                    </foreach>
                    <img src="__ROOT__/public/images/首页/女装.PNG" style="width: 150px;height: 150px;margin-top: 25px;margin-left: 20px">

                </div>
                <!-- 第二个盒子 -->
                <div class="fenleilb"style="width: 600px;height: 200px;background-color: rgb(250,250,250);float: left">
                    <foreach name="brand" item='v'>
                        <if condition="$v['lev'] eq 1 and $v['pid'] eq 2">
                            <div style="width: 100px;height: 150px;margin-top: 40px;margin-left: 30px;float: left">
                                <k style='font-family: "arial", "微软雅黑";'>{$v.chiname}</k>

                                <ul style="margin-top: 20px;list-style: none;">
                                    <foreach name="brand" item="k">
                                        <if condition="$k['lev'] eq 2 and $k['pid'] eq $v['id']">
                                            <a  href="" style="text-decoration: none"><li class="2jifenlei"style='color:grey;margin-bottom: 5px;font-family: "arial", "微软雅黑"'>{$k.chiname}</li></a>
                                        </if>
                                    </foreach>
                                </ul>
                            </div>
                        </if>
                    </foreach>

                    <img src="__ROOT__/public/images/首页/男装.PNG" style="width: 150px;height: 150px;margin-top: 25px;margin-left: 20px">
                </div>
                <!-- 第三个盒子 -->
                <div class="fenleilb"style="width: 600px;height: 200px;background-color: rgb(250,250,250);float: left">
                    <foreach name="brand" item='v'>
                        <if condition="$v['lev'] eq 1 and $v['pid'] eq 3">
                            <div style="width: 100px;height: 150px;margin-top: 40px;margin-left: 30px;float: left">
                                <k style='font-family: "arial", "微软雅黑";'>{$v.chiname}</k>

                                <ul style="margin-top: 20px;list-style: none;">
                                    <foreach name="brand" item="k">
                                        <if condition="$k['lev'] eq 2 and $k['pid'] eq $v['id']">
                                            <a  href="" style="text-decoration: none"><li class="2jifenlei"style='color:grey;margin-bottom: 5px;font-family: "arial", "微软雅黑"'>{$k.chiname}</li></a>
                                        </if>
                                    </foreach>
                                </ul>
                            </div>
                        </if>
                    </foreach>

                    <img src="__ROOT__/public/images/首页/鞋.PNG" style="width: 150px;height: 150px;margin-top: 25px;margin-left: 20px">
                </div>
                <!-- 第四个盒子 -->
                <div class="fenleilb"style="width: 600px;height: 200px;background-color: rgb(250,250,250);float: left">
                    <foreach name="brand" item='v'>
                        <if condition="$v['lev'] eq 1 and $v['pid'] eq 4">
                            <div style="width: 100px;height: 150px;margin-top: 40px;margin-left: 30px;float: left">
                                <k style='font-family: "arial", "微软雅黑";'>{$v.chiname}</k>

                                <ul style="margin-top: 20px;list-style: none;">
                                    <foreach name="brand" item="k">
                                        <if condition="$k['lev'] eq 2 and $k['pid'] eq $v['id']">
                                            <a  href="" style="text-decoration: none"><li class="2jifenlei"style='color:grey;margin-bottom: 5px;font-family: "arial", "微软雅黑"'>{$k.chiname}</li></a>
                                        </if>
                                    </foreach>
                                </ul>
                            </div>
                        </if>
                    </foreach>

                    <img src="__ROOT__/public/images/首页/包.PNG" style="width: 150px;height: 150px;margin-top: 25px;margin-left: 20px">
                </div>
            </div>
        </div>
    </div>
</div>
<!--导航栏分类end-->

<div style="width: 1200px;height:auto;background-color: rgba(240,240,240,0.9);position: absolute;top: 240px;left: 50%;margin-left: -600px;">
    <div style="width: 1150px;height: auto;margin: 30px auto;">
        <form method="post" enctype="multipart/form-data" action="__APP__/Fabu/add" name="form-1">
            <div style="border-bottom: 1px solid #e03550">
                <b style='font-family: "arial", "微软雅黑";color: #262728;'>请选择服务中心</b><br><br>
               <foreach name="place" item="v" key="k">
                   <if condition="$k%2 eq 0">
                <input class='kuang' name="placeid" type="checkbox" value="{$v.id}" /><b style='font-family: "arial", "微软雅黑";color: #262728;margin-left: 15px'>{$v.province}<k style="color: #e03550;margin-left: 15px">{$v.placename}</k></b>
                <else />
                <input class='kuang' name="placeid" type="checkbox" value="{$v.id}" /><b style='font-family: "arial", "微软雅黑";color: #262728;margin-left: 15px'>{$v.province}<k style="color: #e03550;margin-left: 15px">{$v.placename}</k></b><br><br>
                   </if>
               </foreach>
            </div>

            <div style="margin-top: 10px">
                <b style='font-family: "arial", "微软雅黑";'>物品信息确认</b><br>
                <div style="width: 1150px;height: 350px;border-bottom: 1px solid #e03550">
                    <div style="margin-top: 15px;float: left;margin-right: 20px"><b style='font-family: "arial", "微软雅黑";'>物品名称:</b><input type="text" style="width: 200px;height: 30px;margin-left: 15px"name="name" placeholder="请输入物品名称"></div>
                    <div style="margin-top: 15px;float: left;margin-right: 20px"><b style='font-family: "arial", "微软雅黑";'>购买日期:</b><input type="text" style="width: 200px;height: 30px;margin-left: 15px"name="buytime" placeholder="例2016年5月12日"></div>
                    <div style="margin-top: 15px;float: left;margin-right: 20px"><b style='font-family: "arial", "微软雅黑";'>购买价格:</b><input type="text" style="width: 200px;height: 30px;margin-left: 15px" name = "buyprice" placeholder="请输入真实购买价格"></div>
                    <div style="margin-top: 15px;float: left;margin-right: 20px"><b style='font-family: "arial", "微软雅黑";'>欲卖价格:</b><input type="text" style="width: 200px;height: 30px;margin-left: 15px"name="saleprice" placeholder="请输入欲卖价格"></div>
                    <div style="margin-top: 15px;float: left;margin-right: 20px"><b style='font-family: "arial", "微软雅黑";'>欲卖原因:</b><input type="text" style="width: 200px;height: 30px;margin-left: 15px" name ="result" placeholder="请输入欲卖原因"></div>
                    <div style="width: 1150px;height: 150px;float: left;margin-top: 20px">
                        <b style='font-family: "arial", "微软雅黑";float:left'>上传照片</b><br><br>
                        <div class="upload" style="width: 1200px;height: 290px;float: left;margin-left: -10px">
                            <img id="pic" src="" >
                            <img id="pic2" src="" >
                            <img id="pic3" src="" >
                            <img id="pic4" src="" >
                            <img id="pic5" src="" >
                            <img id="pic6" src="" >
                            <input id="upload"  name="file" accept="image/*" type="file" style="display: none"/>
                            <input id="upload2" name="file2" accept="image/*" type="file" style="display: none"/>
                            <input id="upload3" name="file3" accept="image/*" type="file" style="display: none"/>
                            <input id="upload4" name="file4" accept="image/*" type="file" style="display: none"/>
                            <input id="upload5" name="file5" accept="image/*" type="file" style="display: none"/>
                            <input id="upload6" name="file6" accept="image/*" type="file" style="display: none"/>
                        </div>

                    </div>
                </div>

            </div>

            <div style="margin-top: 10px">
                <b style='font-family: "arial", "微软雅黑"'>个人信息确认</b><br>
                <div style="width: 1150px;height: 70px;border-bottom: 1px solid #e03550">
                    <input type="hidden"  value="{$user.id}" name ="userid" />
                    <div style="margin-top: 15px;float: left;margin-right: 20px"><b style='font-family: "arial", "微软雅黑";'>联系方式:</b><input type="text" style="width: 200px;height: 30px;margin-left: 15px" value="{$user.telephone}" name ="link"></div>
                    <div style="margin-top: 15px;float: left;margin-right: 20px"><b style='font-family: "arial", "微软雅黑";'>绑定卡号:</b><input type="text" style="width: 200px;height: 30px;margin-left: 15px" value="{$user.bankid}" name ="bankid"></div>
                    <div style="margin-top: 15px;float: left;margin-right: 20px"><b style='font-family: "arial", "微软雅黑";'>身高:</b><input type="text" style="width: 100px;height: 30px;margin-left: 15px" value="{$user.height}" name ="height"></div>
                    <div style="margin-top: 15px;float: left;margin-right: 20px"><b style='font-family: "arial", "微软雅黑";'>体重:</b><input type="text" style="width: 100px;height: 30px;margin-left: 15px" value="{$user.weight}" name ="weight"></div>
                    <div style="margin-top: 15px;float: left;margin-right: 20px"><b style='font-family: "arial", "微软雅黑";' >性别:</b><input type="text" style="width: 100px;height: 30px;margin-left: 15px" value="{$user.sex}" name ="sex"></div>
                </div>
            </div>

            <input type="submit" style='float: right;margin-top: 20px;border: 1px solid #e03550;color: #e03550;background-color: rgba(240,240,240,0.9);width: 100px;height: 30px;font-family: "arial", "微软雅黑";margin-bottom: 20px;cursor: pointer'>
        </form>
    </div>
</div>


<div style="width: 100%;height: 330px;background-color: #262728;margin-top: 30px;position: absolute;top: 980px">
    <div style="width: 1300px;height: 300px ;margin: 0px auto;">
        <img src="__ROOT__/public/images/首页衣服/底部.PNG" style="float: left">
        <img src="__ROOT__/public/images/首页衣服/底部2.PNG" style="float: left;margin-left: 50px">
    </div>
</div>


<!--公用弹窗-->
<div style="width: 300px;height: 300px;background-color: #ffffff;position: fixed;top: 50%;margin-top: -150px;left: 50%;margin-left: -150px;display: none" class="success" id="success">
    <img src="__ROOT__/public/images/logo.PNG">
    <div style="width: 280px;height: 100px;margin-left: 10px;margin-top: 20px;line-height: 100px;text-align: center">
        <b style='font-family: "arial", "微软雅黑";font-size: 20px;color: #262728' id ="title">发布成功</b>
    </div>
    <a class="关闭" style='font-family: "arial", "微软雅黑";float: right;margin-right: 10px;margin-top: 30px;color: #e03550;text-decoration: underline;cursor: pointer'>关闭</a>
</div>
<!--end-->
</body>
</html>
<script>
function show(){
    var div1 = document.getElementById("success");
    div1.style.display="block";
    var b1 = document.getElementById('title');
    b1.innerHTML="发布成功";
}
</script>